
/*------------------- Border box model------------------- */

 * {box-sizing: border-box;}   

/*------------------ Variables, colors------------------ */
/* .red {color: #ce2c52;}
.line-through {text-decoration: line-through;} */


/* Breakpoints */
$phone: 320px;
$tablet: 480px;
$tablet-plus: 640px; 
$desktop: 835px;
$desktop-plus: 960px;
$desktop-max: 1250px;


