@import "normalize";

 * {box-sizing: border-box;}   

/* Breakpoints */
$phone: 320px;
$tablet: 480px;
$tablet-plus: 640px; 
$desktop: 835px;
$desktop-plus: 960px;
$desktop-max: 1250px;

li {list-style: none;}

body{
 font-family: 'Ubuntu', sans-serif;
 font-size: 11px;
 color: #a5a4a4;
}

.wrapper{
    max-width: $desktop-max;
    min-width: $phone;
    margin: 20px auto;
    padding: 0 4px;
    @media(min-width: $tablet){
        padding: 0 38px 30px;
    }
}

.none {display: none;}

.units-wrapper {
    overflow: hidden;
     padding: 35px 0 0; 
   }

 .unit {
        padding: 0 1% 1% 1% ;
        border: 1px solid #e5e5e5;
        margin-bottom: 40px;
        transition: box-shadow .5s;
        &:hover{
            box-shadow: 0 0 3px 0px rgba(0,0,0,0.6);
            transition: box-shadow .5s;
        }
        .unit-img {
            border: 1px solid #e5e5e5;
            margin: -20px auto 0;
            position: relative;
            .unit-status {
            position: absolute;
            top: 35%;
            left: 0;
            right: 0;
             @media (min-width: $tablet){
                top: 40%;
            }
            div {
                position: absolute;
                background: #ec1111;
                color: #fff;
                font-size: 13px;
                text-transform: uppercase;
                text-align: center;
                padding: 10px 0;
                width: 65px;
                &:first-child {left: 0;}
                &:last-child{
                    right: 0;
                    background: #000;
                }
            }

        }
        }
        .unit-name {
            font-size: 14px;
            color: #333;
            margin: 20px 0;
        }
        .unit-description {
            margin: 0 0 25px;
        }
        .unit-price {
            span {
                color: #333;
                font-size: 25px;
                &:last-child {
                    color: #ec1111;
                    font-size: 17px;
                    text-decoration: line-through;
                    margin-left: 20px;
                    @media (min-width: $desktop) and (max-width: $desktop-plus){
                        margin-left: 6px;
                    }
                }
            }
        }
        .unit-buttons {
            overflow: hidden;
            margin-top: 28px;
            a {
                display: block;
                float: left;
                width: 48%;
                font-size: 13px;
                text-align: center;
                text-transform: uppercase;
                padding: 15px 0;
                color: #ec1111;
                border: 1px solid #e5e5e5;
                background: #ed8e8e;
                &:last-child {
                    float: right;
                    color: #989e9f;
                    background: #d8d8d8;
                }
                span {
                     @media(min-width: $tablet) and (max-width: $tablet-plus){
                        display: none;
                    }
                     @media(min-width: $desktop) and (max-width: $desktop-plus){
                        display: none;
                    }
                }

            }
        }
        
       
    @media(min-width: $tablet){
       float: left;
       width: 48%;
       margin-bottom: 7%;
       &:nth-child(2n+1) {float: right;} 
    }
    @media(min-width: $desktop){
        width: 23%;
        float: left;
        margin-right: 2.66%;
        margin-bottom: 4.34%;
        &:nth-child(4n+1){
            float: right;
            margin-right: 0;
    }
    }
}

 button {
    border: 1px solid #e5e5e5;
    padding: 15px 0;
    display: block;
    margin: 0 auto;
    width: 120px;
    color: #ec1111;
    font-family: "Myriad Pro";
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    background: none;
} 

/* Footer */

footer {
    overflow: hidden;
    padding: 75px 0 0;
     & > div {
      border: 1px solid #e5e5e5;
      margin-bottom: 10px;
      padding: 0 30px 55px; 
      h6 {
        font-family: Raleway;
        font-size: 20px;
        color: #333;
        text-transform: uppercase;
        margin: 46px 0 22px;
      }
       @media(min-width: $desktop){
          width: 31.62%;
          float: left;
          &:first-child {margin-right: 2.56%;}
          &:last-child {float: right;}
       } 
     }
        i {color: #ec1111;}
        li {padding: 9px 0;} 
     .offers {
                 
        a {
            color: #a5a4a4;
            padding-left: 13px;
    }
     }
     .info {
        i {padding-top: 3px;}
        span {padding-left: 9px;}
     }
  
   }

